<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="allSuites">

    <listeners>
        <listener class-name="ta.listeners.SuiteListener"/>
        <listener class-name="ta.listeners.LogListener" />
        <listener class-name="ta.listeners.AllureScreenshotListener"/>
    </listeners>

    <suite-files>
        <!--<suite-file path="suites/example-test-suite.xml"/>-->
        <suite-file path="suites/tooso-test-suite.xml"/>
        <!--<suite-file path="suites/functional-test-suite.xml"/>-->
    </suite-files>

</suite>
