<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="allSuites">

    <listeners>
        <listener class-name="ta.listeners.SuiteListener"/>
        <listener class-name="ta.listeners.LogListener" />
        <listener class-name="ta.listeners.AllureScreenShotListener"/>
    </listeners>

    <suite-files>
        <!--<suite-file path="suites/example-test-suite.xml"/>-->
        <!--<suite-file path="suites/functional-test-suite.xml"/>-->
        <!-- <suite-file path="suites/seo-test-suite.xml"/>-->
        <suite-file path="suites/context-change-test-suite.xml"/>
        <!--
        Proxy tests are slower than non-proxy tests.
        BrowserMobProxy is not currently meant to be stopped and restarted.
        Tooso test suite needs proxy therefore it should be run as the last.
        -->
        <!--<suite-file path="suites/tooso-test-suite.xml"/>-->
    </suite-files>

</suite>
